<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offfset-2">
      <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="mail">Email</label>
          <input 
          type="email" 
          id="email" 
          ngModel name="email" 
          required 
          email 
          class="form-control"
          #email="ngModel">
        </div>
        <span *ngIf="email.invalid && email.touched" class="help-block">E-Mail is Invalid.</span>
        <div class="form-group">
          <label for="subscription">Choose a Subscription</label>
          <select 
          name="subscription" 
          id="subscription" 
          [(ngModel)]="selectedSubscription"
          class="form-control">
            <option *ngFor="let subscription of subscriptions" [ngValue]="subscription">
              {{subscription}}
            </option>
          </select>
          
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" 
          id="password"
          ngModel
          name="password"
          required
          class="form-control"
          #password="ngModel">
          <span *ngIf="password.invalid && password.touched" class="help-block">Password is Invalid.</span>
        </div>
        <p *ngIf="form.invalid && form.touched">Form is Invalid</p>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
  </div>
</div>


